.orange-bg {
    background-color:#FEEAE9;
    border-radius: 10px;
}

.container {
    margin-bottom:100px;
}

.carousel-item {
    padding: 10px 20px;
}

.price {
    color:#E93883;
}

.btn-buy-now {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color:#fff;
    padding: 9px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.categories h1 {
    color: white;
}

.categories img {
    width:90px;
}
.cat1,.cat2,.cat3 {
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1 {
    background-image: linear-gradient(#ED9A33, #F1C924);
}

.cat2 {
    background-image: linear-gradient(#ED3D87, #EC3984);
}

.cat3 {
    background-image: linear-gradient(#5064FF, #4800F8);
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightcyan;
}